<div class="container-fluid bg-image">
  <div
    id="content"
    class="row min-vh-100 justify-content-center align-items-center text-center text-light overlay"
  >
    <h1>Welcome to the Game, <%= user.username %>!</h1>
    <p>
      Select a player to invite to a game, or wait for an invite from another
      player.
    </p>

    <h2>Available Players:</h2>
    <ul id="playerList"></ul>

    <h2>Invitations:</h2>
    <ul id="inviteList"></ul>
  </div>

  <div
    id="gameSession"
    class="row min-vh-100 justify-content-center align-items-center text-center text-light overlay"
    style="display: none"
  >
    <h1>Game Session</h1>
    <table id="gameBoard"></table>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  var userData = {
    username: "<%= user.username %>",
  };

  socket.emit("join game", userData);

  socket.on("update player list", function (playerList) {
    var playerListElement = document.getElementById("playerList");
    playerListElement.innerHTML = "";
    playerList.forEach(function (player) {
      if (player.username !== userData.username) {
        var playerElement = document.createElement("li");
        playerElement.textContent = player.username;
        playerElement.addEventListener("click", function () {
          socket.emit("send invite", player.username);
        });
        playerListElement.appendChild(playerElement);
      }
    });
  });

  socket.on("receive invite", function (inviteData) {
    var inviteListElement = document.getElementById("inviteList");
    var inviteElement = document.createElement("li");
    inviteElement.textContent = `Invite from ${inviteData.from}`;
    var acceptButton = document.createElement("button");
    acceptButton.textContent = "Accept";
    acceptButton.addEventListener("click", function () {
      socket.emit("accept invite", inviteData.from);
      inviteListElement.removeChild(inviteElement);
    });
    inviteElement.appendChild(acceptButton);
    inviteListElement.appendChild(inviteElement);
  });

  socket.on("start game", function (gameSessionData) {
    console.log("Game started with player " + gameSessionData.player2);

    // Update the page to start the game
    document.getElementById("content").style.display = "none";
    document.getElementById("gameSession").style.display = "flex";

    // Initialize game grid
    var gameBoardElement = document.getElementById("gameBoard");
    var letters = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"];

    for (var y = 0; y <= 10; y++) {
      var rowElement = document.createElement("tr");

      for (var x = 0; x <= 10; x++) {
        var cellElement = document.createElement("td");
        if (x === 0 && y > 0) {
          cellElement.textContent = letters[y - 1];
        } else if (y === 0 && x > 0) {
          cellElement.textContent = x;
        }

        rowElement.appendChild(cellElement);
      }

      gameBoardElement.appendChild(rowElement);
    }

    // Setup game session
  });
</script>
